.index-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.article-container {
  height: 93%;
}

.article-card {
  height: 33%;
}

.article-hor-img {
  height: 40%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.article-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  margin: 8px 16px;
}

.article-title h2 {
  font-size: large;
  margin: 0;
  padding: 0;
}

.article-description {
  color: $pr-blue;
  font-size: small;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.article-card-footer{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  p {
    font-weight: 600;
    font-size: medium;
    margin: 0;
    padding: 0;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
