// Specific CSS for your home-page
.banner {
  display: flex;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  background-image: url(asset_path('vincent-nicolas-hMuygRVm4_8-unsplash.jpg'));
  background-position: center;
  vertical-align: middle;
 
  object-fit: fill;

  background-size: cover;
  box-shadow: 0 10px 15px rgba(0 , 0 , 0 , 0.1);
  justify-content: center;
  text-decoration: center;
  &:hover {
    text-decoration: none;
  }
}
.start{
 text-align: bottom;
}
