// Specific CSS for your home-page

 .container-landing
 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.container-logo{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.bottom-landing{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 6vh;
  z-index: 20;
}

.bottom-landing p{
  color: $pr-white;
  font-size: 12px;
  padding-right: 15px;
  padding-left: 15px;
  text-align:center;
}

.carousel-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.bottom-landing a{
  color: $pr-dark;
  width: 208px;
  height: 39px;
  background-color: $pr-yellow;
  border: none;
  outline: none;
  border-radius: 3px;
  text-align: center;
  padding-top: .4rem;
  text-decoration: none;
}

.banner {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0 ;
  left: 0;
  filter:brightness(70%);
  background: linear-gradient(rgba(21, 50, 67, 0.2), rgba(21, 50, 67, 0.2));
  vertical-align: middle;
  object-fit: fill;
  background-size: cover;
  box-shadow: 0 10px 15px rgba(0 , 0 , 0 , 0.1);
  text-decoration: center;
  &:hover {
    text-decoration: none;
  }
}


@media (min-width:989px) and (min-height:640){
.container-landing{
      height: 640px;
      // overflow: hidden;
    }

    .container-logo{
      padding-top: 20px;
      // margin-right: 50px;
      // padding-right: 50 !important;
    }

    .bottom-landing{
      padding-bottom: 30px;

    }
    .bottom-landing a{
      color: $pr-dark;
      width: 208px;
      height: 39px;
      background-color: $pr-yellow;
      border: none;
      outline: none;
      border-radius: 3px;
      text-align: center;
      padding-top: .4rem;
      padding-bottom: 50px;
    }

    .bottom-landing p{
      color: $pr-white;
      font-size: 12px;
      padding-right: 15px;
      padding-left: 15px;
      // text-align:center;
      color: $pr-white;
      margin-top: 15px;
      // margin-right: 60px;

    }
    .banner {
      background-position: left -50px top 0px ;
    }
}
