.new-list {
  position: absolute;
  bottom: 10px;
  .inp {
    display: flex;
  }
}

.lists-container {
  text-align: center;
  overflow-y: scroll;
}

.list-collection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.lists {
  display: flex;
  justify-content: center;
}

.new-list2{
  position: absolute;
  .inp {
    display: flex;
  }
}

.remove-edit{
  margin-right: 6px;
}

.create-list{
  width: 38px;
  height: 38px;
  background-color: $pr-yellow;
  border-color: $pr-yellow;
}

.subtitle3 {
  font-family: $body-font;//'Poppins', sans-serif;
  text-align: center;
  font-size: 13px;
  // font-weight: normal;
  color: $gray;
  margin-top: 15px;
}


.list-button {
  p {
    border: 2px;
    border-color: $pr-blue;
    border-style: solid;
    width: 140px;
    height: 60px;
    border-radius: 4px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 8px;
    background-color: $pr-blue;


    &:hover{
      background-color: $pr-yellow;
      border-color: $pr-yellow;
    }
     a{
       padding: 20px 10px 25px 10px;
      //  overflow-wrap: break-word;
       color: $pr-white;
       text-decoration: none;
       display: flex;
       justify-content: center;
      //  text-align: center;
     }
  }
  a{

  }
}
