 .article-container{
display: flex;
flex-direction: column;
align-items: flex-start;
width: 740px;
position: absolute;
height: 100px;
 }
 .article-card2 {
  flex: auto;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #388697;
  width: 740px;
  position: relative;

 }

 .article-title2 {
  left: 131px;
  letter-spacing: 0;
  position: relative;
  top: 25px;
  font-size: 25px;
  color: $pr-dark;
  padding-bottom: 5%;
}


.article-description2 {
  left: 131px;
  // letter-spacing: 0;
  position: relative;
  top: 8px;
  color:$pr-blue;
  display: flex;
  align-items: flex-end;
  font-size: medium;

}

.article-source {
  left: 10px;
  letter-spacing: 0;
  position: relative;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  padding-left: 150px;
  bottom: -19px;
}

.article-reading-time {
  left: 700px;
  letter-spacing: 0;
  position: relative;
  bottom: -15px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

.article-image2 {
  border-radius: 6px;
  height: 132px;
  left: 9px;
  object-fit: cover;
  position: relative;
  // width: 105px;
  // bottom: 64px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: lightgray;
  // padding-top: 100px;
  // padding-bottom: 20px;
  // padding-left: 50px;
  padding-right: 50px;
  margin-left: 150px;
  margin-bottom: -20px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
