<%= render 'shared/navbar' %>

<% @news.each do |n| %>
  <div class="x05-main-page">
    <div class="article-card">
      <h2><%= n.title %></h2>
      <p><%= n.description %></p>
      <%= link_to n.source_url, n.source_url%>
    </div>
  </div>
<% end %>
