<div class="index-container">
  <%= render 'shared/navbar' %>
  <div class="article-container">
    <% @news.each do |n| %>
      <%= render "shared/#{n.card_orientation}_card", article: n %>
      <%# if current_user.editor %>
      <%= render "shared/editor", locals: { article: n } %>
      <% #end %>
    <% end %>
  </div>
</div>
