<div class="index-container">
  <%= render 'shared/navbar' %>
  <div class="article-container">
    <% @news.each do |n| %>
      <%= render 'shared/horizontal_card', article: n %>
    <% end %>
  </div>
</div>
