<div class = "interest-form">
  <%=simple_form_for(@user_interest, url: my_interests_path, method: :post) do |f|%>
    <div class="interest-form-collection">
    <% @interests.each do |interest|%>
      <div class = "interest-button user_interest_<%="#{interest.id}"%>">
        <%= f.input :"#{interest.id}", as: :boolean, label: interest.name, legend_tag: false, input_html: { checked: @user_interests.include?(interest) ? true : false, value: interest.id }%>
      </div>
    <%end%>
    <%=f.submit :save, class: "interest-update-button"%>
  <%end%>
</div>