<div class="nav-container">
  <div class="navbar-pr">
    <p class="brand">Preszle</p>
    <div class="navbar-icons">
      <i class="fa-regular fa-clock disabled" style="color: #6998ab"></i>
      <i class="fa-solid fa-binoculars disabled" style="color: #6998ab"></i>
      <i class="fa-regular fa-clock disabled" style="color: #6998ab"></i>
      <i class="fa-solid fa-user-pen disabled" style="color: #6998ab"></i>
    </div>
  </div>
 </div>
