<div class="navbar-pr">
  <div class="brand">Preszle</div>
  <div class="navbar-icons">
    <i class="fa-regular fa-clock"></i>
    <i class="fa-solid fa-binoculars"></i>
    <i class="fa-solid fa-list"></i>
    <i class="fa-solid fa-user-pen"></i>
  </div>
</div>
