<div class="nav-container">
   <div class="navbar-pr">
    <%= link_to 'Preszle', articles_path, class: 'brand' %>
    <div class="navbar-icons">
      <i class="fa-regular fa-clock" id="readtime"></i>
      <i class="fa-solid fa-binoculars" id="interests"></i>
      <i class="fa-solid fa-list" id="readlists"></i>
      <i class="fa-solid fa-user-pen" id="dashboard"></i>
    </div>
  </div>
  <div class="navbar-sec" id="navbar-secondary">
    <div class="second-navbar-icons">
      <%= link_to '', articles_path, class: 'fa-solid fa-arrow-left', id: 'back' %>
      <%= link_to '', new_article_bookmark_path(@article), class: 'fa-solid fa-heart', id: 'save' %>
    </div>
  </div>
</div>
