<div class="nav-container">
  <div class="navbar-pr">
    <%= link_to 'Preszle', articles_path, class: 'brand' %>
    <div class="navbar-icons">
      <i class="fa-regular fa-clock" id="readtime"></i>
      <i class="fa-solid fa-binoculars" id="interests"></i>
      <i class="fa-solid fa-list" id="readlists"></i>
      <i class="fa-solid fa-user-pen" id="dashboard"></i>
    </div>
  </div>
  <div class="navbar-sec d-none" id="navbar-secondary">
  </div>
</div>
