    <div class = "new-list">
      <h3 class = "subtitle2">Create a new list<h3>
        <%= simple_form_for @list do |f| %>
        <div class = "inp">
          <div><%= f.input :name, placeholder: 'List name', label: false %></div>
          <div><%= f.submit "+", class: "create-list" %></div>
        </div>  
        <% end %>  
    </div>  
