<p></p>



<%=simple_form_for(UserInterest.new, url: user_interests_path, method: :post) do |f|%>
  <% @interests.each do |interest|%>
    <%if @user_interests.include?(interest)%>
      <%=f.input :interest, as: :check_boxes, legend_tag: false, collection: @interests, input_html: {multiple:true, checked: true}%>
    <%else%>  
      <%=f.input :interest, as: :check_boxes, legend_tag: false, collection: @interests, input_html: {multiple:true}%>
    <%end%>
  <%end%>
  <%=f.submit :save, class: "btn btn-primary"%>
<%end%>     
