
 <div class="container-landing">
  <div class="banner">  </div>

    <div class="container-logo">
    <%= render 'shared/start_logo' %>
     <link rel="stylesheet" href="home.scss">
    </div>
    <div class="bottom-landing">
      <p > The news at your fingertips, <br>
      served in pretzel sized portions </p>
      <% puts current_user.interests.length%>
      <% if current_user.interests.length < 1%>
        <%= link_to 'Start', new_user_interest_path %>
      <%elsif current_user%>
         <%= link_to 'Start', articles_path %>  
      <% else %>
        <%= link_to "Start", new_user_session_path %>
      <% end %>
    </div>
 </div>
