<html>
  <head>
    <meta charset="utf-8">
    <title>homepage</title>
  </head>

  <div class = "container">
    <div class = "banner">
      <h1>Preszle</h1>
        <p> Take some time to relax and enjoy the Little Salty News Snacks</p>
    </div>

  <div class = "buttom">
    
  </div>

  </div>
</html>
