<div class="banner">
    <%= render 'shared/start_logo' %>

    <div class= "start">

      <div class="d-flex bg-white rounded p-2">
        <div class="flex-grow-1 ">
            <i class="fas fa-start"></i>

        </div>
      </div>

    </div>
  </div>
