// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "start_logo";
@import "slider";
@import "navbar_show";
@import "remove_button";
@import "interest_button";

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
