.nav-container {
  display: flex;
  flex-direction: column;
}

.navbar-pr {
  background-color: $pr-dark;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-sec {
  background-color: $pr-blue;
  height: 40px;
}

.brand {
  color: $pr-yellow;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Libre Baskerville', serif;
  margin: 8px;
  a:hover,
  a:active {
    text-decoration: none;
  }
}

.navbar-icons {
  font-size: 20px;
  margin: 8px;
  width: 40vw;
  display: flex;
  justify-content: space-between;
  a {
    color: $pr-white;
  }
  a:hover,
  a:active {
    color: $pr-yellow;
    text-decoration: none;
  }
}
