.new-list {
  position: absolute;
  bottom: 10px;
  .inp {
    display: flex;
  }
}


.create-list{
  width: 38px;
  height: 38px;
  background-color: $pr-yellow;
  border-color: $pr-yellow;
}

.subtitle3 {
  font-family: $body-font;//'Poppins', sans-serif;
  text-align: center;
  font-size: 13px;
  // font-weight: normal;
  color: $gray;
  margin-top: 15px;
}

.list-button {
  border: 2px;
  border-color: $pr-blue;
  border-style: solid;
  width: 140px;
  height: 40px;
  border-radius: 4px;
  text-align: center;
  margin-top: 30px;
} 