.title {
  text-align: center;
  font-weight: 800;
  font-size: 48px;
  color: $pr-yellow !important;
}

.subtitle {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
