.title {
  font-family:  $body-font;//'Poppins', sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  color: $pr-yellow !important;
}

.subtitle {
  font-family: $body-font;//'Poppins', sans-serif;
  text-align: center;
  font-size: 15px;
  // font-weight: normal;
  color: $pr-white;
  margin-top: 15px;
}
